.slick-dots {
  position: absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 37px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  right: 31px;
}

@media (max-width: 640px) {
  .slick-dots {
    position: absolute;
    display: flex !important;
    width: 89px;
    height: 37px;
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 10px;
    left: 283px;
    top: 639px;
  }
}

.slick-dots li {
  /* padding: 10px; */
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0;
  cursor: pointer;
  background: #1c1c1c;
  border-radius: 100%;
}

.slick-dots li button:before {
  opacity: 0.75;
  color: black;
  display: none;
}

.slick-dots li button {
  width: 17px;
  height: 17px;
}

.slick-dots li.slick-active {
  background: #f1eeeb;
}

.manor-title::before {
  content: "MANOR";
  color: #fff;
  font-size: 2rem;
}
